@model Formule1.Models.ProfileViewModel
@using Microsoft.AspNet.Identity;
@using System.Web.Security;         

@{
    Layout = null;
    var userid = @User.Identity.GetUserId();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        <h2>@User.Identity.GetUserId()</h2>
        <div class="form-horizontal">
            <h4>ProfileViewModel</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.Hidden("UserNameID",(object)userid)

       
            @Html.Hidden("Money", "200000")
            <div class="form-group">
                @Html.LabelFor(model => model.TeamName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TeamName)
                    @Html.ValidationMessageFor(model => model.TeamName)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.EngineID, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
             
                         @Html.DropDownListFor(model => model.EngineID, new SelectList(ViewBag.Engine, "ID", "Name","Money"), "Select an Engine")
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.DriverID, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DriverID)
                    @Html.ValidationMessageFor(model => model.DriverID)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.ChassisID, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ChassisID)
                    @Html.ValidationMessageFor(model => model.ChassisID)
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
