@model Formule1.Models.ProfileViewModel

@{
    Layout = null;

}

<!DOCTYPE html>
@if(Model == null)
{
     <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
else
{
  <html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
   
    @if(Request.IsAuthenticated)
    {
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserNameID)
            </th>
            <th>
              UserName
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Money)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EngineID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DriverID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondDriverID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChassisID)
            </th>
            <th></th>
        </tr>
    

        <tr>
            <td>
                @Html.DisplayFor(model => model.UserNameID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => User.Identity.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Money)
            </td>
            <td>
                @Html.DisplayFor(model => model.TeamName)
            </td>
            <td>
                @Html.DisplayFor(model => model.EngineModel.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.DriverID)
            </td>
            <td>
                @Html.DisplayFor(model => model.SecondDriverID)
            </td>
            <td>
                @Html.DisplayFor(model => model.ChassisID)
            </td>
            
        </tr>
    
    
    </table>
    }
</body>
</html>  
}

