@model Formule1.Models.ProfileViewModel

@{
    Layout = null;

}

<!DOCTYPE html>
@if(Model == null)
{
     <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
else
{
  <html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
   
    @if(Request.IsAuthenticated)
    {
     <div>
        <h4>ProfileViewModel</h4>
    	<hr />
        <dl class="dl-horizontal">
            <dt>
                Username
            </dt>
    
            <dd>
                @Html.DisplayFor(model => User.Identity.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TeamName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TeamName)
            </dd>
    

            <dt>
                @Html.DisplayNameFor(model => model.Money)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Money)
            </dd>
            <dt>
                Engine
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Engine.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Driver)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Driver.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SecondDriverID)
            </dt>

            <dd>

                @Html.DisplayFor(model => model.SecondDriverID)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Chassis)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Chassis.Name)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
        </p>
    }
</body>
</html>  
}

